<div class="poll-survey-wrapper {{ display_class }}">
  {% if description %}
    <div class="poll-description">
      {{ description }}
    </div>
  {% endif %}

  <div class="poll-embed">
    {{ embed_code|raw }}
  </div>
</div>
