{#
  Template for Blog Content paragraph
#}

<div class="{{ wrapper_class }} {{ alignment_class }}" style="{{ background_style }}">
  <div class="blog-content-inner">
    {{ blog_body }}
  </div>
</div>
