<div class="cta-paragraph">
  <div class="cta-text">
    {{ cta_text }}
  </div>
  <div class="cta-button-wrapper">
    <a href="{{ cta_button_url }}" class="cta-button {{ cta_style_class }}">
      {{ cta_button_label }}
    </a>
  </div>
</div>
