{#
  Bootstrap 5-styled local tasks (primary/secondary tabs)
  File: menu-local-tasks.html.twig
#}
{% if primary %}
  <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
  <ul class="nav nav-tabs mi-local-tasks mb-3" role="tablist">
    {{ primary }}
  </ul>
{% endif %}

{% if secondary %}
  <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
  <ul class="nav nav-pills mi-local-tasks mb-3" role="tablist">
    {{ secondary }}
  </ul>
{% endif %}
